.profile {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 0;
  flex-grow: 1;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29vh;
  width: 100%;
  padding-top: 107px;
}

.profile-form__inputs {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 48px);
  align-items: center;
  width: 32%;
}

.profile-form__label {
  font-size: 11px;
  font-weight: 500;
}

.profile-form__input {
  text-align: end;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 11px;
  font-weight: 400;
  padding: 0;
}

.profile-form__edit-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.profile__leave-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #EE3465;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}