.app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  color: #fff;
}

.app-borderline {
  border: none;
  height: 1px;
  background-color: #424242;
  margin: 20px 0;
}

.app-link {
  transition: opacity 0.3s;
  line-height: 0.5;
}

.app-link:hover {
  opacity: 0.7;
}

.app-section-title {
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 21px;
  line-height: 1.3;
  letter-spacing: -1px;
}

@media (max-width: 320px) {
  .app-section-title {
    font-size: 18px;
    letter-spacing: -0.7px;
    padding-bottom: 27px;
  }
}