.main {
  display: flex;
  flex-direction: column;
}

.main__section-title {
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 21px;
  line-height: 1.3;
  letter-spacing: -1px;
}

@media (max-width: 320px) {
  .main__section-title {
    font-size: 18px;
    letter-spacing: -0.7px;
    padding-bottom: 27px;
  }
}